// Blue Color Rules

//background
$background-color: #1d1d2a;
$sidebar-color: #222433;

//selected
$selected-nav: #1c96df;
$selected-filter: #7bd1d1;

//text
$text-light: white;
$text-color: #bebec2;
$button-color: #2a2c3d;
